@model IEnumerable<HorecaVlaanderenOpleidingen.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Curisten Statistics";
}

<h2>Curisten Statistic</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Curisten
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>